<div class="container">
<h1><%= @cocktail.name %></h1>
<%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %>
<h6><%= link_to "Add a new dose", new_cocktail_dose_path(@cocktail) %>

      <%= simple_form_for @cocktail do |f| %>
        <%= f.input :photo, label: false %>
        <%= f.input :photo_cache, as: :hidden %>
        <%= f.submit "ok", class: "btn btn-primary" %>
      <% end %>

<% @cocktail.doses.each do |dose|%>
<h5><%= dose.description %> <%= dose.ingredient.name %> - <%= link_to "delete dose", dose, method: :delete %><br></h5>
<% end %>
</div>
